@import '../../styles.scss';
@import '../home/home.component.scss';

// Header

.inicio {
    background-image: url(../../assets/img/header.jpg);
}

.header {
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;

    &.inicio {
        background-position: center center;
        background-size: cover;
        
        @include tablet {
            min-height: 70rem;
        }

        .contenido-header {
            @include tablet {
                min-height: 70rem;
            }
        }
    }
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        text-align: left;
        color: $blanco;
        font-weight: bold;
        line-height: 2;
        max-width: 60rem;
    }
}

.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        align-items: flex-end;
    }

    .dark-mode-boton {
        width: 3rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        filter:invert(100%);

        &:hover {
            cursor: pointer;
        }

        @include tablet {
            margin-top: 0;
        }
    }

}

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    a {
        width: 100%;
    }
    
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        a {
            width: 25%;
        }
    }
}

// Navegación

.navegacion {
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s step-start, opacity 0.5s linear;
    
    @include tablet {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }
    
    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        
        @include tablet {
            margin-right: 2rem;
            font-size: 1.8rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
}

// Menu 3 rayas (menu hamburguesa)

.mobile-menu {

    cursor: pointer;

    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}

.sesion-navbar {
    height: 4rem;
    background-color: $amarillo;
    display: flex;
    align-items: center;

    app-autorizado {
        display: flex;
        justify-content: center;
        
        span,
        a {
            color: $blanco;
            font-weight: $bold;
            margin: 0 1rem;
        }

        a {
            cursor: pointer;
        }
    }
}


