<header class="header inicio">
    <div class="contenedor contenido-header">
        <div class="barra">
            <a routerLink="/">
                <img src="assets/img/logo.svg" alt="Logotipo de Bienes Raices">
            </a>

            <nav class="navegacion">
                <a routerLink="/navegacion/nosotros">Nosotros</a>
                <a routerLink="/navegacion/anuncios">Anuncios</a>
                <a routerLink="/navegacion/blog">Blog</a>
                <a routerLink="/navegacion/contacto">Contacto</a>
            </nav>
        </div><!-- .barra -->

    </div>
</header>

<router-outlet></router-outlet>
    
<footer class="footer seccion">
    <div class="contenedor contenedor-footer">
        <nav class="navegacion">
            <a routerLink="/navegacion/nosotros">Nosotros</a>
            <a routerLink="/navegacion/anuncios">Anuncios</a>
            <a routerLink="/navegacion/blog">Blog</a>
            <a routerLink="/navegacion/contacto">Contacto</a>
        </nav>
    </div>

    <p class="copyright">Todos los derechos reservados 2021 &copy;</p>
</footer>
