@import '../home/home.component.scss';

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead {
        background-color: $verde;
        
        th {
            color: $blanco;
            padding: 2rem;
        }
    }

    .imagen-tabla {
        width: 10rem;
    }
}