<main class="contenedor seccion">
    <h1>Administrador de Bienes Raices</h1>

    <a routerLink="/propiedades/crear" class="boton boton-verde">Nueva Propiedad</a>

    <table class="propiedades">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Casa en la Playa</td>
                <td><img src="https://localhost:7178/propiedades/4796f8d9-3ac4-4f1c-8aa2-cc88171d4063.jpg" class="imagen-tabla"></td>
                <td>$120000</td>
                <td>
                    <a href="#" class="boton-rojo-block">Eliminar</a>
                    <a href="#" class="boton-amarillo-block">Actualizar</a>
                </td>
            </tr>
        </tbody>
    </table>
    
</main>