<main class="contenedor seccion contenido-centrado">
    
    <h1>{{anuncio.titulo}}</h1>

    <img loading="lazy" [src]="anuncio.imagen" alt="Imagen de la propiedad">

    <div class="resumen-propiedad">
        <p class="precio">{{anuncio.precio | currency}}</p>
        <ul class="iconos-caracteristicas">
            <li>
                <img class="icono" loading="lazy" src="assets/img/icono_wc.svg" alt="icono wc">
                <p>{{anuncio.wc}}</p>
            </li>
            <li>
                <img class="icono" loading="lazy" src="assets/img/icono_estacionamiento.svg" alt="icono estacionamiento">
                <p>{{anuncio.estacionamiento}}</p>
            </li>
            <li>
                <img class="icono" loading="lazy" src="assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                <p>{{anuncio.habitaciones}}</p>
            </li>
        </ul>

        <p>
            {{anuncio.descripcion}}
        </p>
    </div>
    
</main>