<h1>Conoce sobre Nosotros</h1>

<div class="contenido-nosotros">
    <div class="imagen">
        <picture>
            <source srcset="assets/img/nosotros.webp" type="image/webp">
            <source srcset="assets/img/nosotros.jpg" type="image/jpeg">
            <img loading="lazy" src="assets/img/nosotros.jpg" alt="Sobre Nosotro">
        </picture>
    </div>

    <div class="texto-nosotros">
        <blockquote>
            25 Años de Experiencia
        </blockquote>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi mollitia quo harum error, 
            fuga quis id inventore. Quasi, accusamus beatae nisi ad maxime nostrum ab neque officia 
            nam consequuntur voluptatibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            fuga quis id inventore. Quasi, accusamus beatae nisi ad maxime nostrum ab neque officia 
            nam consequuntur voluptatibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            fuga quis id inventore. Quasi, accusamus beatae nisi ad maxime nostrum ab neque officia 
            nam consequuntur voluptatibus? Quasi mollitia quo harum error, Quasi mollitia quo harum error, 
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint omnis ipsum velit voluptatem 
            quaerat pariatur repellat, ad molestias neque consequuntur quasi eum a quia voluptatum! 
            Consequatur quam et porro molestias.Consequatur quam et porro molestias.Consequatur quam 
            et porro molestias.
        </p>
    </div>
</div>


<section class="contenedor seccion">
    
    <h1>Más sobre nosotros</h1>

    <div class="iconos-nosotros">
        <div class="icono">
            <img src="assets/img/icono1.svg" alt="Icono Seguridad" loading="lazy">
            <h3>Seguridad</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur molestias id alias nulla 
                saepe iusto vitae, consectetur in recusandae, voluptatem, placeat ab reprehenderit maiores 
                laudantium illum. Perspiciatis, quibusdam! Dignissimos, delectus.</p>
        </div>
        <div class="icono">
            <img src="assets/img/icono2.svg" alt="Icono Precio" loading="lazy">
            <h3>Seguridad</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur molestias id alias nulla 
                saepe iusto vitae, consectetur in recusandae, voluptatem, placeat ab reprehenderit maiores 
                laudantium illum. Perspiciatis, quibusdam! Dignissimos, delectus.</p>
        </div>
        <div class="icono">
            <img src="assets/img/icono3.svg" alt="Icono Tiempo" loading="lazy">
            <h3>Seguridad</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur molestias id alias nulla 
                saepe iusto vitae, consectetur in recusandae, voluptatem, placeat ab reprehenderit maiores 
                laudantium illum. Perspiciatis, quibusdam! Dignissimos, delectus.</p>
        </div>
    </div>
    
</section>