<main class="contenedor seccion">
    <div class="propiedad-creada" *ngIf="propiedadCreadaDB.titulo">
        <div class="registro-exitoso">
            La acción se ha llevado acabo correctamente, por favor, revisa los detalles:
        </div>
        
        <fieldset>
            <table>
                <tbody>
                    <tr>
                        <td><span>Título</span>: </td>
                        <td>{{propiedadCreadaDB.titulo}}</td>
                    </tr>
                    <tr>
                        <td><span>Precio</span>: </td>
                        <td>{{propiedadCreadaDB.precio}}</td>
                    </tr>
                    <tr>
                        <td><span>Imagen</span>: </td>
                        <td><img [src]="propiedadCreadaDB.imagen" alt="Imagen"></td>
                    </tr>
                    <tr>
                        <td><span>Descripción</span>: </td>
                        <td>{{propiedadCreadaDB.descripcion}}</td>
                    </tr>
                    <tr>
                        <td><span>Habitaciones</span>: </td>
                        <td>{{propiedadCreadaDB.habitaciones}}</td>
                    </tr>
                    <tr>
                        <td><span>Baños</span>: </td>
                        <td>{{propiedadCreadaDB.wc}}</td>
                    </tr>
                    <tr>
                        <td><span>Estacionamientos</span>: </td>
                        <td>{{propiedadCreadaDB.estacionamiento}}</td>
                    </tr>
                </tbody>
            </table>
        </fieldset>

        <button class="boton boton-verde" routerLink="/propiedades">Ir al Administrador</button>
    </div>
    
    <div class="propiedad-nocreada" *ngIf="!propiedadCreadaDB?.titulo">
        <div class="sin-registro">
            Es necesario crear una nueva propiedad para ver sus características
        </div>

        <button class="boton boton-verde" routerLink="/propiedades">Ir al Administrador</button>
    </div>
</main>

