@import '../../styles.scss';

// _utilidades

.seccion {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
}
.contenido-centrado {
    max-width: 800px;
}

// HEADER

.inicio {
    background-image: url(../../assets/img/header.jpg);
}

.header {
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;

    &.inicio {
        background-position: center center;
        background-size: cover;
        
        @include tablet {
            min-height: 70rem;
        }

        .contenido-header {
            @include tablet {
                min-height: 70rem;
            }
        }
    }
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        text-align: left;
        color: $blanco;
        font-weight: bold;
        line-height: 2;
        max-width: 60rem;
    }
}

.barra {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    a {
        width: 100%;
    }
    
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        a {
            width: 25%;
        }
    }
}

.navegacion {
    @include tablet {
        display: flex;
        align-items: center;
    }
    
    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        
        @include tablet {
            margin-right: 2rem;
            font-size: 1.8rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

@include tablet {
    .iconos-nosotros {
        @include grid(3, 2rem)
    }
}

//

.icono {
    text-align: center;
    img {
        height: 10rem;
    }
    h3{
        text-transform: uppercase;
    }
}

//

@include tablet {
    .contenedor-anuncios {
        @include grid(3, 2rem);
    }
}

.anuncio {
    background-color: lighten($gris, 5);
    border: 1px solid darken($gris, 10);

    .contenido-anuncio {
        padding: 2rem;
    }

    h3, p {
        margin: 0;
    }
    .precio {
        color: $verde;
        font-weight: $bold;
        font-size: 3rem;
    }
}

.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;

    li {
        flex: 1;
        display: flex;

        img {
            flex: 0 0 5rem;
            margin-right: 1rem;
        }
        p {
            font-weight: $black;
        }
    }
}

//

.boton-amarillo-block {
    @include boton($amarillo, block)
}

.boton-amarillo {
    @include boton($amarillo, inline-block)
}

.boton-verde {
    @include boton($verde, inline-block)
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}

//

.imagen-contacto {
    background-image: url(../../assets/img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    padding: $separacion * 2 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 4rem;
        font-weight: $black;
        color: $blanco;
    }
    p {
        font-size: 1.8rem;
        color: $blanco;
    }
}

//

@include tablet {
    .seccion-inferior {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
    }
}

.entrada-blog {
    margin-bottom: 2rem;

    @include tablet {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

.texto-entrada {
    a{
        color: $negro;
        margin-top: 10rem;
        display: block;
        @include tablet {
            margin-top: 0;
        }
    }

    h4 {
        margin: 0;
        line-height: 1.4;

        &::after {
            content: '';
            display: block;
            width: 15rem;
            height: .5rem;
            background-color: $verde;
            margin-top: 1rem;
        }
    }
    span {
        color: $amarillo;
    }
}

//

.testimonial {
    background-color: $verde;
    font-size: 2.4rem;
    padding: 2rem;
    color: $blanco;
    border-radius: 2rem;

    blockquote {
        padding-left: 5rem;
        position: relative;

        &::before {
            content: '';
            background-image: url(../../assets/img/comilla.svg);
            background-repeat: no-repeat;
            width: 6rem;
            height: 8rem;
            display: block;
            position: absolute;
            left: -2rem;
            top: 0;
        }
    }

    p {
        text-align: right;
        color: $blanco;
    }
}

//

.footer {
    padding: calc($separacion / 2);
    background-color: $grisOscuro;
    margin-bottom: 0;

    .contenedor-footer {
        padding-top: calc($separacion / 2);
    }

    .copyright {
        color: $blanco;
        text-align: center;
    }
}