
<header class="header inicio">
    <div class="contenedor contenido-header">
        <div class="barra">
            <a routerLink="/">
                <img src="assets/img/logo.svg" alt="Logotipo de Bienes Raices">
            </a>

            <nav class="navegacion">
                <a routerLink="/navegacion/nosotros">Nosotros</a>
                <a routerLink="/navegacion/anuncios">Anuncios</a>
                <a routerLink="/navegacion/blog">Blog</a>
                <a routerLink="/navegacion/contacto">Contacto</a>
            </nav>
        </div><!-- .barra -->

        <h1>Venta de casas y departamentos Exclusivos de Lujo</h1>
    </div>
</header>

<main class="contenedor seccion">
    
    <h1>Más sobre nosotros</h1>

    <div class="iconos-nosotros">
        <div class="icono">
            <img src="assets/img/icono1.svg" alt="Icono Seguridad" loading="lazy">
            <h3>Seguridad</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur molestias id alias nulla 
                saepe iusto vitae, consectetur in recusandae, voluptatem, placeat ab reprehenderit maiores 
                laudantium illum. Perspiciatis, quibusdam! Dignissimos, delectus.</p>
        </div>
        <div class="icono">
            <img src="assets/img/icono2.svg" alt="Icono Precio" loading="lazy">
            <h3>Seguridad</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur molestias id alias nulla 
                saepe iusto vitae, consectetur in recusandae, voluptatem, placeat ab reprehenderit maiores 
                laudantium illum. Perspiciatis, quibusdam! Dignissimos, delectus.</p>
        </div>
        <div class="icono">
            <img src="assets/img/icono3.svg" alt="Icono Tiempo" loading="lazy">
            <h3>Seguridad</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur molestias id alias nulla 
                saepe iusto vitae, consectetur in recusandae, voluptatem, placeat ab reprehenderit maiores 
                laudantium illum. Perspiciatis, quibusdam! Dignissimos, delectus.</p>
        </div>
    </div>
    
</main>

<footer class="footer seccion">
    <div class="contenedor contenedor-footer">
        <nav class="navegacion">
            <a routerLink="/navegacion/nosotros">Nosotros</a>
            <a routerLink="/navegacion/anuncios">Anuncios</a>
            <a routerLink="/navegacion/blog">Blog</a>
            <a routerLink="/navegacion/contacto">Contacto</a>
        </nav>
    </div>

    <p class="copyright">Todos los derechos reservados 2021 &copy;</p>
</footer>