<main class="contenedor seccion">
    <h2>Casas y Depas en venta</h2>

    <div class="contenedor-anuncios">
        
        <div class="anuncio" *ngFor="let anuncio of anunciosPropiedades">
            <img loading="lazy" [src]="anuncio.imagen" alt="anuncio">

            <div class="contenido-anuncio">
                <h3>{{anuncio.titulo}}</h3>
                <p>{{anuncio.descripcion.slice(0, 100)}}...</p>
                <p class="precio">{{anuncio.precio | currency}}</p>

                <ul class="iconos-caracteristicas">
                    <li>
                        <img class="icono" loading="lazy" src="assets/img/icono_wc.svg" alt="icono wc">
                        <p>{{anuncio.habitaciones}}</p>
                    </li>
                    <li>
                        <img class="icono" loading="lazy" src="assets/img/icono_estacionamiento.svg" alt="icono estacionamiento">
                        <p>{{anuncio.estacionamiento}}</p>
                    </li>
                    <li>
                        <img class="icono" loading="lazy" src="assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                        <p>{{anuncio.wc}}</p>
                    </li>
                </ul>
                <a routerLink="/anuncios/anuncio/{{anuncio.id}}" class="boton-amarillo-block">Ver Propiedad</a>
            </div><!-- .contenido-anuncio -->
        </div><!-- .anuncio -->

    </div><!-- .contenedor-anuncios -->
</main>