<main class="contenedor seccion contenido-centrado">
    
    <h1>Guía para la decoración de tu hogar</h1>

    <picture>
        <source srcset="assets/img/destacada.webp" type="image/webp">
        <source srcset="assets/img/destacada.jpg" type="image/jpeg">
        <img loading="lazy" src="assets/img/destacada.jpg" alt="Imagen de la propiedad">
    </picture>
    
    <p class="informacion-meta">Escrito el: <span>20/10/2021</span> por: <span>Admin</span></p>

    <div class="resumen-propiedad">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi mollitia quo harum error, 
            fuga quis id inventore. Quasi, accusamus beatae nisi ad maxime nostrum ab neque officia 
            nam consequuntur voluptatibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            fuga quis id inventore. Quasi, accusamus beatae nisi ad maxime nostrum ab neque officia 
            nam consequuntur voluptatibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            fuga quis id inventore. Quasi, accusamus beatae nisi ad maxime nostrum ab neque officia 
            nam consequuntur voluptatibus? Quasi mollitia quo harum error, Quasi mollitia quo harum error, 
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint omnis ipsum velit voluptatem 
            quaerat pariatur repellat, ad molestias neque consequuntur quasi eum a quia voluptatum! 
            Consequatur quam et porro molestias.Consequatur quam et porro molestias.Consequatur quam 
            et porro molestias.
        </p>
    </div>
    
</main>