<app-mostrar-errores [errores]="errores"></app-mostrar-errores>

<form class="formulario" [formGroup]="form" (submit)="enviarFormulario()">
    <fieldset>
        <legend>Información General</legend>

        <label for="titulo">Título:</label>
        <input formControlName="titulo" type="text" id="titulo" placeholder="Título propiedad">

        <label for="precio">Precio:</label>
        <input formControlName="precio" type="number" id="precio" placeholder="Precio propiedad">

        <!-- <label for="imagen">Imagen:</label>
        <input formControlName="imagen" type="file" id="imagen" accept="image/jpeg, image/png"> -->

        <app-input-img [urlCurrentImage]="propiedadAEditar.imagen" (selectedFile)="selectedFile($event)"></app-input-img>

        <label for="descripcion">Descripción:</label>
        <textarea formControlName="descripcion" id="descripcion"></textarea>
    </fieldset>

    <fieldset>
        <legend>Información Propiedad</legend>

        <label for="habitaciones">Habitaciones:</label>
        <input formControlName="habitaciones" type="number" id="habitaciones" placeholder="Ej: 3" min="1" max="9">

        <label for="wc">Baños:</label>
        <input formControlName="wc" type="number" id="wc" placeholder="Ej: 3" min="1" max="9">

        <label for="estacionamiento">Estacionamiento:</label>
        <input formControlName="estacionamiento" type="number" id="estacionamiento" placeholder="Ej: 3" min="1" max="9">
    </fieldset>

    <fieldset>
        <legend>Vendedor</legend>

        <select formControlName="vendedorId">
            <option value="" disabled selected >-- Seleccione --</option>
            <option *ngFor="let vendedor of vendedores" [value]="vendedor.id">{{vendedor.nombre + ' ' + vendedor.apellido}}</option>
        </select>
    </fieldset>

    <input type="submit" value="Crear Propiedad" class="boton boton-verde">
</form>