<main class="contenedor seccion contenido-centrado">
    <h1>Registrarse</h1>

    <form class="formulario" [formGroup]="form" (submit)="registrarse(form.value)">
        <fieldset>
            <legend>Email y Password</legend>

            <label for="email">E-mail</label>
            <input formControlName="email" type="email" placeholder="Tu Email" id="email">

            <label for="password">Password</label>
            <input formControlName="password" type="password" placeholder="Tu Password" id="password">
        </fieldset>

        <input type="submit" value="Registrarse" class="boton boton-verde">
    </form>
</main>